/* ==============================================
 seccion 2
===============================================*/

#contenidoplan{
    height: 700px;
    width: 427px;
    border-radius: 50px;
    background-color: #cbfbea;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 26px;
    padding-bottom: 26px;
}

.linea.precios{
    justify-content: space-around;
}

#contenidoplan h1{
    color: #354a5f;
    text-align: center;
    font-family: 'Poppins';

}

#contenidoplan h2{
    color: #354a5f;
    text-align: center;
    font-size: 2rem;
    margin-bottom: -45px;
    font-weight: 100;
    font-family: 'Poppins';


}

#contenidoplan ul{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    font-size: 2.1rem;
    margin-top: 90px;
    margin-left: 14px;
    font-family: 'Poppins';

}

ul li::marker{
    color: #2ECC70;
}


.contenedor{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding: 40px 0px;
}

.linea{
    display: flex;
    margin-right: 15px;
    margin-left: 15px;
}








body{
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff;
}

.navbarinicio{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.09);
    max-height: 70px;

    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    background-color: white;
    font-family: 'Poppins'
}

#logo img{
    height: 70px;
}

#contadorproyectos{
    font-family: 'Poppins';
    font-size: 1.5rem;
    font-weight: 300;
}

#profilepictop{
    border-radius: 100%;
    height: 50px;
    margin-top: -10px;
  }
  #botonprof{
    height: 60px;
    border-radius: 100%;
    position: relative;
  }

  #userimg{
    height: 100%;
    border-radius: 100%;
  }


  .dropdown-content{
    display: none;
    position: relative;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px;
    background-color: #354a5f;
    right: 20px;
  }
  
  
  .dropdown-content a{
    display: block;
    color: #2ECC70;
    padding: 5px;
    text-decoration: none;
  }
  
  #profilepictop:hover .dropdown-content{
    display: block;
  }
  
  .dropdown-content a:hover{
    background-color: #ffffff;
  }

  #botoncomprar{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    border-radius: 10px;
    border: none;
    height: 50px;
    align-content: center;
    align-items: center;
    box-shadow: 0px 0px 6px 0px;
    background-color: #2ecc70;
    color: #354a5f;
    font-size: 1.5rem;
    font-family: 'Poppins';
    margin-top: 10px;
    font-weight: 400;
  }