@font-face{
    font-family: 'Poppins';
    src:url(/fonts/Poppins-Regular.ttf);
}
/* ==============================================
 Navbar 
===============================================*/

.navbarinicio{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.09);
    max-height: 70px;

    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: fixed;
    width: 100%;
    background-color: white;
    font-family: 'Poppins'
}

#botoneslista{
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
}

#btnHome{
    text-decoration: none;
    margin-right: 10px;
    margin-top: 5px;
    color: #354a5f;
    font-weight: 500;
}
#logo img{
    height: 70px;
}
.btncomenzar{
    background-color: #2ECC70;
    color: #354a5f;
    width: 100%;
    height: 40px;
    border: none;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 3px!important;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.05), 0 1px 2px 0 rgba(0,0,0,.08);
}

.contenedor{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding: 40px 0px;
}

.linea{
    display: flex;
    margin-right: 15px;
    margin-left: 15px;
}


/* ==============================================
 Seccion 1 
===============================================*/
#imageninicial{
    max-width: 100%;
    height: auto;
}
#imageninicial img{
    vertical-align: middle;
    border-style: none;
}
#descripcion{
    margin-top: 100px;
    padding: 60px 20px
}

#descripcion span {
    font-weight: 700;
    color: #57d68c;
    text-transform: uppercase;
    letter-spacing: .05em;
}

#descripcion h1 {
    color: #354a5f;
    font-size: 50px;
    font-weight: 700;
    font-family: 'Poppins';
}

#descripcion p {
    font-size: 24px;
    font-weight: 300;
    color: #57d68c;
    margin-bottom: 0px;
    padding: 0px;
    font-family: 'Poppins';
}
.btncomenzar.segundo{
    height: 50px;
    font-size: x-large;
    font-weight: 400;
}
/* ==============================================
 seccion 2
===============================================*/

#contenidoplan{
    height: 700px;
    width: 427px;
    border-radius: 50px;
    background-color: #cbfbea;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 26px;
    padding-bottom: 26px;
}

.linea.precios{
    justify-content: space-around;
}

#contenidoplan h1{
    color: #354a5f;
    text-align: center;
    font-family: 'Poppins';

}

#contenidoplan h2{
    color: #354a5f;
    text-align: center;
    font-size: 2rem;
    margin-bottom: -45px;
    font-weight: 100;
    font-family: 'Poppins';


}

#contenidoplan ul{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    font-size: 2.1rem;
    margin-top: 90px;
    margin-left: 14px;
    font-family: 'Poppins';

}

ul li::marker{
    color: #2ECC70;
}