@font-face{
    font-family: 'Poppins',sans-serif;
    src:url(/fonts/Poppins-Regular.ttf);
}

body{
        font-family: 'Poppins', sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: #f4f4f4;
}
