@font-face{
    font-family: 'Poppins';
    src:url(/fonts/Poppins-Regular.ttf);
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;

}

.navbarinicio{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.09);
    max-height: 70px;

    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    background-color: white;
    font-family: 'Poppins'
}

#logo img{
    height: 70px;
}

#contadorproyectos{
    font-family: 'Poppins';
    font-size: 1.5rem;
    font-weight: 300;
}

#profilepictop{
    border-radius: 100%;
    height: 50px;
    margin-top: -10px;
  }
  #botonprof{
    height: 60px;
    border-radius: 100%;
  }

  #userimg{
    height: 100%;
    border-radius: 100%;
  }

  /*contenedordecodigos*/
#seccionproyectos{
    width: 100%;
    padding: 20px 10px;
  }

.contenedorproyectos{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 15px;
    margin: 10px 10px;
    justify-items: center;
}

#proyecto{
    width: 80%;
    border-style: groove;
    border-color: #2ECC70;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*padding: 10px;*/
    border-radius: 40px;
    overflow: hidden;
}

#iconoproyecto{
    width: 100%;
    background-color: #cbfbea;
    height: 150px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 10rem;
    color: #354a5f;
}

#nombreproyecto{
font-family: 'Poppins';
font-size: 1rem;
}

#nombreproyecto h1{
    font-family: 'Poppins';
    color: #354a5f;

}

/*++++++++++++++++++++++++++++++++++++++++++++++++nuevo proyuecto*/
#proyectonuevo{
    width: 80%;
    border-style: groove;
    border-color: #2ECC70;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*padding: 10px;*/
    border-radius: 40px;
    overflow: hidden;
}

#iconoproyectonuevo{
    width: 100%;
    background-color: #cbfbea;
    height: 150px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 10rem;
    color: #354a5f;
}

#nombreproyectonuevo{
font-family: 'Poppins';
font-size: 1rem;
}

#nombreproyectonuevo h1{
    font-family: 'Poppins';
    color: #354a5f;
}